* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Purple_100: hsl(254, 88%, 90%);
    --Purple_500: hsl(256, 67%, 59%);

    --Yellow_100: hsl(31, 66%, 93%);
    --Yellow_500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    width: 100%;
    font-family: "DM Sans", sans-serif;
}

.layout_1 {
    display: grid;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "card1 card2 card2 card3"
        "card1 card4 card5 card3"
        "card6 card4 card5 card3"
        "card6 card7 card8 card8";
    gap: 16px;
}

.layout_1 {
    margin: 50px auto;

    div {
        border-radius: 16px;
        padding: 20px 20px;
    }
}

.layout_1 div:nth-child(7) {
    grid-area: card1;
    max-width: 265px;
    background-color: var(--Yellow_100);
    background: var(--Yellow_100) url("./assets/images/illustration-create-post.webp") no-repeat;
    background-size: 78%;
    background-position: 50% 87%;
    /* min-height: 350px; */

    h1 {
        padding: 75px 10px;
        line-height: 35px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        letter-spacing: -0.02em;
        font-size: clamp(1rem, .4rem + 1.7rem, 2.7rem);
        /* font-size: 2.7rem; */
        color: var(--Black);

        span {
            font-style: italic;
            color: var(--Purple_500);
        }
    }
}

.layout_1 div:nth-child(1) {
    grid-area: card2;
    background-color: var(--Purple_500);
    max-width: 553px;

    h1 {
        color: #fff;
        font-size: 3.8rem;
        /* font-size: clamp(3.8rem 32px, 1.679rem + 1.282vw, 3.8rem); */
        font-weight: 500;
        text-align: center;
        line-height: 60px;
        padding-top: 30px;

        .span_1 {
            color: var(--Yellow_500);
        }

        .span_2 {
            font-style: italic;
        }
    }

    .starts {
        display: flex;
        justify-content: center;
        background: transparent;
        border: none;
        padding: 15px 0 0 0;

        img {
            width: 200px;
        }
    }

    p {
        text-align: center;
        color: #ffffffb6;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 10px 0 0 0;
    }
}

.layout_1 div:nth-child(4) {
    grid-area: card3;
    background-color: var(--Purple_100);
    max-width: 265px;
    overflow: hidden;

    h1 {
        padding: 15px 10px;
        line-height: 30px;
    }

    .cards4_image {
        padding: 0;
        border: none;
        background: transparent;
        margin-left: 30px;

        img {
            max-height: 200px;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 15px 0 0 15px;
    }
}

.layout_1 div:nth-child(8) {
    grid-area: card6;
    background: var(--Yellow_500) url("./assets/images/illustration-ai-content.webp") no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: 80%;

    h1 {
        font-weight: 500;
        line-height: 40px;
        font-size: 3rem;
    }
}

.layout_1 div:nth-child(6) {
    grid-area: card7;
    background-color: var(--White);
    padding: 20px 20px;

    h1 {
        margin: 0 12px;
        font-size: 4rem;
        font-weight: 500;
    }

    p {
        font-size: 1.2rem;
    }

    .cards6_image {
        height: 80px;
        margin: 30px 0;
        background: url("./assets/images/illustration-audience-growth.webp") no-repeat;
        background-size: contain;
    }
}

.layout_1 div:nth-child(5) {
    grid-area: card8;
    background-color: var(--Purple_500);
    display: flex;
    align-items: center;
    color: #fff;
    /* padding:0 16px; */
    /* max-height: 250px; */
    justify-content: space-between;

    h1 {
        font-weight: 500;
        font-size: 2.2rem
    }

    .cards5_image {
        padding: 0;
        margin-right: 25px;

        img {
            width: 230px;
            height: 200px;
        }
    }
}

.layout_1 #cards2 {
    grid-area: card4;
    background-color: var(--White);
    padding: 15px;

    .cards2_image {
        padding: 0;
        width: 100%;
        height: 65px;
        /* background-color: red; */
        background: url("./assets/images/illustration-multiple-platforms.webp") no-repeat;
        background-size: 120%;
        padding: 0;
        border-radius: 0;
    }

    h1 {
        padding: 0 0 0 20px;
        font-weight: 500;
        line-height: 30px;
        padding: 10px 10px;
    }
}

.layout_1 div:nth-child(3) {
    grid-area: card5;
    background-color: var(--Yellow_500);
    padding: 16px 20px 0 20px;
    overflow: hidden;

    h1 {
        padding: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 30px;
    }

    .cards3_image {
        /* margin: 30px 0 0 0; */
        width: 100%;
        height: 100px;
        background: url("./assets/images/illustration-consistent-schedule.webp") no-repeat;
        background-size: cover;
        background-position-y: 15px;
        border-radius: 0;
    }
}
/* @media screen and (max-width: 1115px) {
    .layout_1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "card1 card2 card2 card3"
        "card1 card4 card5 card3"
        "card6 card4 card5 card3"
        "card6 card7 card8 card8";
    grid-template-areas:
        "card1 card2 card2 card3"
        "card1 card4 card5 card3"
        "card6 card4 card5 card3"
        "card6 card7 card8 card8";

    gap: 16px;
}
} */